<nav class="navbar navbar-expand-md navbar-light font-weight-bold">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AppName</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mt-2 mt-md-0 w-100 align-items-md-center">
          <form class="d-flex flex-grow-1 my-2 my-md-0 mx-md-5">
            <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
  
          <a class="nav-link text-dark" href="/account">My Account</a>
          <a class="nav-link text-dark" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>