<%- include('partials/header'); %>
<%- include('partials/navbar'); %>
<div class="d-flex flex-column flex-grow-1 flex-wrap container-fluid px-0">
  <div id="expand-sidebar" class="d-md-none" data-expanded="false">
    <i id="expand-sidebar-icon" class="fas fa-chevron-right fa-2x"></i>
  </div>

  <div class="d-flex flex-grow-1 flex-wrap">
    <main id="main" class="col-md-8 col-lg-9 d-md-block">
      <h2>Main</h2>
    </main>

    <aside id="sidebar" role="sidebar" class="col-md-4 col-lg-3 d-none d-md-block">
      <h2>Sidebar</h2>
    </aside>
  </div>

  <div class="w-100 py-4 px-4">
    <input type="text" class="form-control" placeholder="Type to Chat!" aria-label="Type to Chat!">
  </div>

  <div id="loh">fchvghgvhgcvhj</div>
</div>
<%- include('partials/footer'); %>