<%- include('partials/mainheader'); %> 
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <main id="main" class="col-md-9">
        <h2>Main</h2>
      </main> 
        </div>
      </div>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/mainfooter'); %>